html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/footer_lodyas.png);
}

a {
    color: #e67e22;
}

a:visited {
    color: #e67e22;
}

.hero-container {
    max-width: 960px;
    margin: auto;
}

.content-container {
    background-color: #dedede;
}

.main-image {
    border-radius: 50%;
    border: solid 10px #232323;
    width: 320px;
    margin: 80px auto 0px;
    display: block;
}

h1 {
    text-align: center;
    font-size: 38px;
    color: #dedede;
}

.content-title {
    padding: 40px 0px;
    margin: 0;
    color: #232323;
}

p {
    text-align: center;
    margin-top: 40px;
    background-color: #232323;
    color: #fff;
    padding: 20px 0;
    font-size: 19px;
}

